@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --bg-1: #DDD8C4;
  --bg-2: #A3C9A8;
  --bg-3: #84B59F;
  --bg-4: #69A297;
  --bg-5: #50808E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  animation: backgroundColor 30s  infinite alternate;
}

@keyframes backgroundColor {
  0% {
    background-color: var(--bg-1);
  }
  25% {
    background-color: var(--bg-2);
  }
  50% {
    background-color: var(--bg-3);
  }
  75% {
    background-color: var(--bg-4);
  }
  100% {
    background-color: var(--bg-5);
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
 background-color: #fff;
 width: 1rem;
 height: 1rem;
 border-radius: 50%;
}